<div class="submit-form">
  <kendo-formfield showHints="always">
    <kendo-label kendoTypography variant="h5" text="Название">
      <kendo-textbox 
        placeholder="John Smith"
        required
        [(ngModel)]="building.name"></kendo-textbox>
    </kendo-label>
  </kendo-formfield>

  <kendo-formfield showHints="always">
    <kendo-label kendoTypography variant="h5" text="Адрес">
      <kendo-textbox 
        placeholder="..."
        required
        [(ngModel)]="building.address"></kendo-textbox>
    </kendo-label>
  </kendo-formfield>

  <kendo-formfield showHints="always">
    <kendo-label kendoTypography variant="h5" text="Этажи">
      <kendo-numerictextbox 
        placeholder="John Smith"
        format="##" [min]="1" [max]="256"
        required
        [(ngModel)]="building.floors"></kendo-numerictextbox>
    </kendo-label>
  </kendo-formfield>

  <button kendoButton class="add-button" (click)="addBuilding()" themeColor="primary">Добавить</button>
</div>